@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #96a5f7, #3a46f1, #527bf6);
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}